<div class="contact__language contact__language--da">
  <h3 class="contact__captcha-meta">For at undgå spam bliver jeg nødt til at spørge dig..</h2>
  <h2 class="contact__captcha-header">Er du en robot?</h1> 
  <div class="js-captcha js-contact-captcha contact__captcha-form">
    <div class="contact__captcha-button is-incorrect js-captcha-incorrect">Ja</div>
    <div class="contact__captcha-button is-correct js-captcha-correct">Nej</div>
  </div>
</div>
<div class="contact__language contact__language--en">
  <h3 class="contact__captcha-meta">To avoid spam, I have to ask you..</h2>
  <h2 class="contact__captcha-header">Are you a robot?</h1> 
  <div class="js-captcha js-contact-captcha contact__captcha-form">
    <div class="contact__captcha-button is-incorrect js-captcha-incorrect">Yes</div>
    <div class="contact__captcha-button is-correct js-captcha-correct">No</div>
  </div>
</div>