<ul class="blog__nav__items text__light">
  <li class="blog__nav__item">
    <a href="<%= global_path %>/blog">Latest blog posts</a>
  </li>
  <li class="blog__nav__item">
    <a href="<%= global_path %>/en">About me</a>
  </li>
</a>