<div class="blog__sidebar text__light">

<h2 class="blog__sidebar__title">My name is <strong>Benjamin Rasmussen</strong> and I'm a Danish web developer living and working in Copenhagen.</h2> I work for <a href="http://peytz.dk">Peytz &amp; Co</a>, one of the biggest Drupal houses in Scandinavia. I'm hired as a frontend developer, but I also have a huge interest in backend development and design.<br/><br/>
I work mostly with Drupal. I'm an <a href="http://training.acquia.com/registry?field_first_name_value=&field_last_name_value=&city=&country=dk&field_exam_tid=106"><strong>Acquia Certified Frontend Specialist for Drupal</strong></a>, but there's still a long journey left before I'll feel like a Drupal expert - a journey that I look forward to. <br/><br/>

This is my blog which will allow you to get an idea of my daily thoughts, challenges and ideas. It'll probably mostly be about the web, design &amp; webdesign!<br/><br/>

You can view my <a href="<%= global_path %>/en">full profile and contact info here</a> - or you can check me out on the anti-social networks below.



<ul class="blog__social__items">
  <li class="blog__social__item">
    <a class="blog__social__link blog__social__link--linkedin" href="https://www.linkedin.com/in/rasben">LinkedIn</a>
  </li>
  <li class="blog__social__item">
    <a class="blog__social__link blog__social__link--facebook" href="https://www.facebook.com/benjamin.b.rasmussen.3">Facebook</a>
  </li>
  <li class="blog__social__item">
    <a class="blog__social__link blog__social__link--github" href="https://github.com/rasben">GitHub</a>
  </li>
  <li class="blog__social__item">
    <a class="blog__social__link blog__social__link--codepen" href="http://codepen.io/rasben/">Codepen</a>
  </li>
</ul>

</div>