<div class="js-page js-snap page skills">
  <div class="js-page-header page__header text__light">
    <div class="page__header__body">
      <h1 class="page__header__text-header">Skills and every-day</h1>
      <p class="page__header__text-body">
        In my day to day work, I work with Mac and Docker. I feel mostly at home on a computer when I'm dealing with the terminal.
At Peytz, my primary job was as a frontender, but now at Reload my role is more fluid. I still feel that frontend development is my absolute expertise, but I'm not scared to jump into deep water in the backend world.
Although it's not often relevant in my professional life, I also feel very at home in programs such as Photoshop, Illustrator and Sketch/XD
        <br/><br/>
        I'm well on my way to becoming a backend guru, and I already feel well at home in Drupals backend.
However, like every other developer, I can also see that the trend is going towards weird frameworks that end with &quot;JS&quot;, so I'd also like to learn more about e.g. Angular, React etc
      </p>
    </div>
  </div>
  <div class="js-page-body page__body">
    <ul class="skills__towers">
      <li class="skills__tower">
        <div class="skills__tower__image">
          <img src="<%= global_path %>/images/towers_raadhus.png" alt="R&aring;dhust&aring;rnet" width="69" height="350" />
        </div>
        <div class="skills__tower__title">
          HTML &amp; Sass, etc.
        </div>
      </li>
      <li class="skills__tower">
        <div class="skills__tower__image">
          <img src="<%= global_path %>/images/towers_frelsers.png" alt="Frelserkirkens t&aring;rn" width="69" height="350" />
        </div>
        <div class="skills__tower__title">
          JavaScript
        </div>
      </li>
      <li class="skills__tower">
        <div class="skills__tower__image">
          <img src="<%= global_path %>/images/towers_boersen.png" alt="B&oslash;rsens t&aring;rn" width="69" height="350" />
        </div>
        <div class="skills__tower__title">
          Vanilla PHP
        </div>
      </li>
      <li class="skills__tower">
        <div class="skills__tower__image">
          <img src="<%= global_path %>/images/towers_runde.png" alt="Rundet&aring;rn" width="69" height="350" />
        </div>
        <div class="skills__tower__title">
          Drupal
        </div>
      </li>
    </ul>
  </div>
  <a class="js-scroll js-scroll-down page__button__scroll page__button__scroll--small"></a>
</div>
