<div class="js-tldr js-contact-modal page text__light tldr">
  <div class="js-page-body page__body">
    <h1 class="tldr__title">Den korte udgave..</h1>
    <table class="tldr__table">
      <tr class="tldr__tr">
        <td class="tldr__td tldr__td__title">Benjamin Rasmussen - Webdesigner &amp; Udvikler.</td>
        <td class="tldr__td"></td>
      </tr>
      <tr class="tldr__tr">
        <td class="tldr__td tldr__td__first">Ansat hos Globase International</td>
        <td class="tldr__td tldr__td__second">Frontend udvikler</td>    
      </tr>
      <tr class="tldr__tr">
        <td class="tldr__td tldr__td__first">Arbejder dagligt med</td>
        <td class="tldr__td tldr__td__second">HTML, SASS (Compass), JavaScript<br />PHP, Drupal, MVC</td>    
      </tr>
      <tr class="tldr__tr">
        <td class="tldr__td tldr__td__first">Jobs</td>
        <td class="tldr__td tldr__td__second">
          <ul class="tldr__educations">
            <li class="tldr__education">
              <span class="tldr__education__year">2014: </span>
              <p class="tldr__education__title">Freelance Drupal udvikler<br/>Peytz &amp; Co.</p>
            </li>
            <li class="tldr__education">
              <span class="tldr__education__year">2015: </span>
              <p class="tldr__education__title">Fuldtid Frontend udvikler<br/>Peytz &amp; Co.</p>
            </li>
            <li class="tldr__education">
              <span class="tldr__education__year">2016: </span>
              <p class="tldr__education__title">Fuldtid udvikler<br/>Globase International</p>
            </li>
          </ul>
        </td>    
      </tr>
      <tr class="tldr__tr">
        <td class="tldr__td tldr__td__first">Uddannelser</td>
        <td class="tldr__td tldr__td__second">
          <ul class="tldr__educations">
            <li class="tldr__education">
              <span class="tldr__education__year">2008: </span>
              <p class="tldr__education__title">Startede HHX, ZBC Vordingborg</p>
            </li>
            <li class="tldr__education">
              <span class="tldr__education__year">2011: </span>
              <p class="tldr__education__title">Startede Multimediedesign, <br/>EASJ/ZIBAT, Nykøbing F.</p>
            </li>
            <li class="tldr__education">
              <span class="tldr__education__year">2011: </span>
              <p class="tldr__education__title">Startede Web Development, <br/>EASJ/ZIBAT, Roskilde </p>
            </li>
            <li class="tldr__education">
              <span class="tldr__education__year">2014: </span>
              <p class="tldr__education__title">Startede som praktikant hos <br/>Peytz &amp; Co. - senere freelance</p>
            </li>
            <li class="tldr__education">
              <span class="tldr__education__year">2015: </span>
              <p class="tldr__education__title">Uddannet som Webudvikler</p>
            </li>
          </ul>
        </td>    
      </tr>
      <tr class="tldr__tr">
        <td class="tldr__td tldr__td__first">Fritidsinteresser</td>
        <td class="tldr__td tldr__td__second">Byudforskning, Bouldering (klatring)<br />Grafisk design, Gaming</td>    
      </tr>
      <tr class="tldr__tr">
        <td class="tldr__td tldr__td__first">Kontaktoplysninger</td>
        <td class="tldr__td tldr__td__second"><a class="js-contact-modal-show text__link--visible" href="#">Tryk her</a></td>    
      </tr>
    </table>
    <a class="js-tldr-show text__link--visible">Tryk her for at komme tilbage til det normale site</a>
  </div>
  <div class="js-contact-modal-body modal modal--contact">
    <div class="modal__body">
      <a class="js-contact-modal-hide modal__close"></a>
      <div class="js-contact-modal-placeholder"></div>
    </div>
    <div class="js-contact-modal-hide modal__close__background"></div>
  </div>
</div>