<div class="js-page js-snap js-extra js-extra-overlay page about extra extra--overlay">
  <div class="js-page-header page__header text__light">
    <div class="page__header__body">
      <h1 class="page__header__text-header">Hvem er jeg?</h1>
      <p class="page__header__text-body">
        Mit navn er Benjamin Rasmussen og jeg er 24 &aring;r gammel.<br/> Jeg kommer originalt fra Vordingborg p&aring; Sydsj&aelig;lland, men bor nu i Stork&oslash;benhavn med arbejde i K&oslash;benhavn Nordvest.<br /><br/> Jeg arbejder primært med PHP frameworks - Og jeg elsker Drupal!<span class="extra__continue-call">..</span>
      </p>
      <div class="about__me">
        <img class="about__me__image" src="<%= global_path %>/images/me.jpg" alt="Et billede af mig" width="110" height="110"/>
        <span class="about__me__tagline">Det er mig!</span>
      </div>
      <div>
        <div class="js-extra-wrapper page__header__extra">
          <p class="js-extra-body page__header__extra-body about__header__extra-body">
            Omkring 10 &aring;r siden blev jeg som s&aring; mange andre unge, bidt af nettet - og har jagtet det lige siden. Jeg startede ud med at lave nogle frygtelige ASP Classic hjemmesider - s&aring;dan nogle med masser af inline-styles og inline-kode. Det er trods alt det resultat man normalt kan forvente af den klassike ut&aring;lmodige teenager.<br />
            Hobby-hjemmesiderne blev langsomt bedre og bedre og nu hvor jeg er blev lidt &aelig;ldre og t&aring;lmodigen trods alt blevet l&aelig;ngere, er viljen til at l&aelig;re noget nyt hver dag er stadig liges&aring; br&aelig;ndende som den altid har været. <br /><br/>
            Indtil Jan '16 arbejdede jeg hos <a class="text__link--visible" href="http://peytz.dk">Peytz &amp; Co.</a>, hvor jeg prim&aelig;rt var ansat som frontender. 90% af mit arbejde foregik i Drupal men jeg var ogs&aring; vant til at arbejde med Drupal backend<br/> Det passer mig også fint, da jeg ogs&aring; elsker backend - is&aelig;r Drupal backend. :) - Lige nu arbejder jeg for Drupalhuset <a href="www.reload.dk">Reload</a>.<br/><br/>
            I min fritid kan jeg bl.a. godt lide at tegne og designe. <b>F.eks. er alle illustrationer p&aring; dette site lavet af mig.</b>
          </p>
        </div>
        <span class="js-extra-controller box box--light about__box text__light extra__button">
          <span class="extra__button__title">L&aelig;s mere om mig</span>
          <span class="extra__button__title extra__button__title--open">L&aelig;s mindre om mig</span>
        </span>
      </div>
    </div>
  </div>
  <div class="js-page-body page__body">
    <h2 class="page__text-header">Jeg er ansat hos</h2>
    <h1 class="about__company-title">Reload!</h1>
    <a href="http://reload.dk"><img src="<%= global_path %>/images/reload.jpg" class="about__company-logo" alt="Reload!" title="Reload" width="300" height="300" /></a>
    <hr class="about__hr" />
    <h3 class="about__text-subheader">Med kunder som fx.</h3>
    <p class="page__text-body">dr.dk - Ingeniørforeningen <br/> KBH Biblioteker - TV2</p>
    <span class="about__text-mini">og mange flere..</span>
  </div>
  <a class="js-scroll js-scroll-down page__button__scroll page__button__scroll--small"></a>  
</div>