<div class="js-page js-snap js-extra js-extra-overlay page history extra extra--overlay">
  <div class="js-page-header page__header text__light">
    <div class="page__header__body">
      <h1 class="page__header__text-header">My story</h1>
      <p class="page__header__text-body">
        I was born and rasied in Vordingborg. My nusery, kindergarten, primary and high school all were on the same road.<br/>
        When I was done with Handelsskole (HSSYD – later named Zealand Business College), I had an impression that I wanted to become a graphical designer. I already had a pretty good hold of how to use the basic tools and a huge interest. <br/><br/>

        That’s why I started the multimediadesign education in Nyk&oslash;bing F., at ZIBAT. The education was in English, so many of my classmates were young people from many other countries.<span class="extra__continue-call">..</span>
      </p>
      <div>
        <div class="js-extra-wrapper page__header__extra">
          <p class="js-extra-body page__header__extra-body history__header__extra-body">
            At the school we learned about the basics within graphical design, but we also had an introduction to programming (Mostly HTML/CSS, but also some PHP). I had already messed around with it in the past, so I didn’t feel like I learned many new things. It did however show me that this would be a better direction for my life to take.
            When I was done with the multimediadesign education, I moved on to a Web Developer education in Roskilde (Also in English). The education was a top-up programme to the multimediadesign and would result in a Professionbachelor.<br/>
            Here we learned more about more advanced programming and it is here that I was introduced to proper OOP development.
            <br/><br/>
            It was through this education that I got an internship at Peytz &amp; Co., and when I was writing my dissertation I worked as a freelancer for Peytz also. When I was done with my education, I became a fulltime developer at Peytz &amp; Co.
          </p>
        </div>
        <span class="js-extra-controller box history__box box--light text__light extra__button">
          <span class="extra__button__title">Read more about my story</span>
          <span class="extra__button__title extra__button__title--open">Read less about my story</span>
        </span>
      </div>
    </div>
  </div>
  <div class="js-page-body page__body">
    <div class="js-timeline timeline">
      <div class="timeline__rocket-container">
        <div class="js-timeline-rocket timeline__rocket"></div>
      </div>
      <ul class="js-timeline-items timeline__items">
        <li class="js-timeline-item timeline__item js-timeline-item timeline__item--start has-content">
          <h3 class="timeline__title">1992</h3>
          <p class="timeline__description">
            Born and raised in Vordingborg
          </p>
        </li>
        <li class="js-timeline-item timeline__item js-timeline-item timeline__item--small js-timeline-item timeline__item--fastforward">
          <h3 class="timeline__title">'92 - '08</h3>
        </li>
        <li class="js-timeline-item timeline__item has-content">
          <h3 class="timeline__title">2008</h3>
          <p class="timeline__description">
            Finished Folkeskole <br/>
            Iselingeskolen, Vordingborg
          </p>
        </li>
        <li class="js-timeline-item timeline__item js-timeline-item timeline__item--small xyz2">
          <h3 class="timeline__title">2009</h3>
        </li>
        <li class="js-timeline-item timeline__item js-timeline-item timeline__item--small xyz3">
          <h3 class="timeline__title">2010</h3>
        </li>
        <li class="js-timeline-item timeline__item has-content">
          <h3 class="timeline__title">2011</h3>
          <p class="timeline__description">
            Finished Handelsskole<br/>
            Zealand Business College,
            Vordingborg
          </p>
        </li>
        <li class="js-timeline-item timeline__item js-timeline-item timeline__item--small xyz4">
          <h3 class="timeline__title">2012</h3>
        </li>
        <li class="js-timeline-item timeline__item has-content">
          <h3 class="timeline__title">2013</h3>
          <p class="timeline__description">
            AP Degree in Multimediadesign &amp; Communication exam<br/>
            EASJ/ZIBAT, Nyk&oslash;bing F
          </p>
        </li>
        <li class="js-timeline-item timeline__item js-timeline-item timeline__item--extended has-content">
          <h3 class="timeline__title">2014</h3>
          <p class="timeline__description">
            Internship at Peytz &amp; Co.
          </p>
          <p class="timeline__description timeline__description--secondary">
            Freelance developer <br/>at Peytz &amp; Co
          </p>
        </li>
        <li class="js-timeline-item timeline__item js-timeline-item timeline__item--end has-content">
          <h3 class="timeline__title">2015</h3>
          <p class="timeline__description">
            Profession Bachelor in <br/>Web Development <br/>
            EASJ/ZIBAT, Roskilde
          </p>
          <p class="timeline__description timeline__description--secondary">
            Fulltime developer <br/>at Peytz &amp; Co
          </p>
        </li>
      </ul>
    </div>
  </div>
  <a class="js-scroll js-scroll-down page__button__scroll page__button__scroll--small xyz5"></a>  
</div>