<div class="js-contact-modal js-final js-page js-snap page final">
  <div class="js-page-body page__body">
    <h1 class="final__text-header">That's all folks!</h1>
    <p class="final__text-body">Thanks for visiting my site. If you felt there was a bit too much information, you can write <b>tldr</b> to get the “Too Long; Didn’t Read” edition.</p>
    <p class="final__text-body">If you wish to contact me, you can either get <a class="js-contact-modal-show text__link--visible" href="#">my contact details here</a> or find me on the social networks below.</p>
    <ul class="final__social__items">
      <li class="final__social__item">
        <a class="final__social__link final__social__link--linkedin" href="https://www.linkedin.com/in/rasben">LinkedIn</a>
      </li>
      <li class="final__social__item">
        <a class="final__social__link final__social__link--facebook" href="https://www.facebook.com/benjamin.b.rasmussen.3">Facebook</a>
      </li>
      <li class="final__social__item">
        <a class="final__social__link final__social__link--github" href="https://github.com/rasben">GitHub</a>
      </li>
      <li class="final__social__item">
        <a class="final__social__link final__social__link--codepen" href="http://codepen.io/rasben/">Codepen</a>
      </li>
    </ul>
    <img class="final__mermaid" src="<%= global_path %>/images/mermaid.svg" alt="Illustration of the The little Mermaid statue" height="275" width="238" />
  </div>
  <a class="js-scroll js-scroll-up page__button__scroll page__button__scroll--reverse"></a>  
  <div class="js-contact-modal-body modal modal--contact is-en">
    <div class="modal__body">
      <a class="js-contact-modal-hide modal__close"></a>

      <div class="js-contact-modal-placeholder"></div>
    </div>
    <div class="js-contact-modal-hide modal__close__background"></div>
  </div>
</div>