<div class="js-page js-snap js-extra js-extra-overlay page about extra extra--overlay">
  <div class="js-page-header page__header text__light">
    <div class="page__header__body">
      <h1 class="page__header__text-header">Who am I?</h1>
      <p class="page__header__text-body">
        My name is Benjamin Rasmussen and I’m 23 years old.<BR/>
        I originally come from Vordingborg (Southern sj&aelig;lland), but I now live in the Greater Copenhagen area and I work in Copenhagen.<br/>
        I work primarily with PHP frameworks and I love Drupal.
        <span class="extra__continue-call">..</span>
      </p>
      <div class="about__me">
        <img class="about__me__image" src="<%= global_path %>/images/me.jpg" alt="A picture of me" width="110" height="110"/>
        <span class="about__me__tagline">That's me!</span>
      </div>
      <div>
        <div class="js-extra-wrapper page__header__extra">
          <p class="js-extra-body page__header__extra-body about__header__extra-body">
            Around 10 years ago, I was, like so many other young people, bitten by a crazy .com bug and I have been chasing it ever since. I started with making some awful ASP Classic websites – the kind with lots of inline-styles and inline scripts. I guess that’s what you can expect when your typical impatient teenager tries to make websites.<br/>
            The website quality slowly got better and as I’ve gotten older, the patience has also grown - but the desire to learn something every day is still as strong as always.<br/><br/>
            Until Jan '16 I worked at <a class="text__link--visible" href="http://peytz.dk">Peytz &amp; Co.</a> where I was primarily a frontender. 90% of my work happened in Drupal I regularly got odd-tasks with Drupal backend, and this suited me fine as I also LOVE backend development – especially Drupal :) - Right now I'm working at a non-Drupal company called Globase International.<br/><br/>
            In my spare time I like to draw and design. <b>All the illustrations and designs on this website are made by me.</b>

          </p>
        </div>
        <span class="js-extra-controller box box--light about__box text__light extra__button">
          <span class="extra__button__title">Read more about me</span>
          <span class="extra__button__title extra__button__title--open">Read less about me</span>
        </span>
      </div>
    </div>
  </div>
  <div class="js-page-body page__body">
    <h2 class="page__text-header">I am employed at</h2>
    <a href="http://globase.dk"><img src="<%= global_path %>/images/globase.png" class="about__peytz-logo" alt="Globase International" title="Globase International" width="300" height="300" /></a>
    <hr class="about__hr" />
    <h3 class="about__text-subheader">With clients such as</h3>
    <p class="page__text-body">Grundfos - Bang &amp; Olufsen - Unibet <br/> Mercedes-Benz - Canal Digital</p>
    <span class="about__text-mini">and many more..</span>
  </div>
  <a class="js-scroll js-scroll-down page__button__scroll page__button__scroll--small"></a>  
</div>