<div class="js-contact-modal js-final js-page js-snap page final">
  <div class="js-page-body page__body">
    <h1 class="final__text-header">That's all folks!</h1>
    <p class="final__text-body">Tak fordi du bes&oslash;gte mit site. Hvis du synes det var lidt for langtrukkent kan du skrive <b>tldr</b> for at få "Too Long; Didn't Read" udgaven.</p>
    <p class="final__text-body">Hvis du vil i kontakt med mig kan du enten få mine <a class="js-contact-modal-show text__link--visible" href="#">kontaktoplysninger her</a> eller finde mig på de sociale platformer nedenunder.</p>
    <ul class="final__social__items">
      <li class="final__social__item">
        <a class="final__social__link final__social__link--linkedin" href="https://www.linkedin.com/in/rasben">LinkedIn</a>
      </li>
      <li class="final__social__item">
        <a class="final__social__link final__social__link--facebook" href="https://www.facebook.com/benjamin.b.rasmussen.3">Facebook</a>
      </li>
      <li class="final__social__item">
        <a class="final__social__link final__social__link--github" href="https://github.com/rasben">GitHub</a>
      </li>
      <li class="final__social__item">
        <a class="final__social__link final__social__link--codepen" href="http://codepen.io/rasben/">Codepen</a>
      </li>
    </ul>
    <img class="final__mermaid" src="<%= global_path %>/images/mermaid.svg" alt="Illustration of the The little Mermaid statue" height="275" width="238" />
  </div>
  <a class="js-scroll js-scroll-up page__button__scroll page__button__scroll--reverse"></a>  
  <div class="js-contact-modal-body modal modal--contact">
    <div class="modal__body">
      <a class="js-contact-modal-hide modal__close"></a>

      <div class="js-contact-modal-placeholder"></div>
    </div>
    <div class="js-contact-modal-hide modal__close__background"></div>
  </div>
</div>