<div class="js-page js-snap js-front page front">
  <div class="front__header">
    <div class="front__header__body">
      <h1 class="front__header__title">Hey! I'm Benjamin </h1>
      <h2 class="front__header__subtitle">
        A Web Designer &amp; Developer <br />
        who lives in Wonderful Copenhagen
      </h2>
    </div>
  </div>
  <div class="front__skyline">
    <div class="front__skyline__buildings">
      <img src="<%= global_path %>/images/skyline_buildings.png" alt="Buildings of Nyhavn" />
    </div>
    <div class="front__skyline__pier"></div>
  </div>
  <div class="front__footer">
  </div>
  <a class="js-scroll js-scroll-down page__button__scroll text__light"></a>
</div>