<div class="js-tldr js-contact-modal page text__light tldr">
  <div class="js-page-body page__body">
    <h1 class="tldr__title">The short version..</h1>
    <table class="tldr__table">
      <tr class="tldr__tr">
        <td class="tldr__td tldr__td__title">Benjamin Rasmussen - Webdesigner &amp; Developer.</td>
        <td class="tldr__td"></td>
      </tr>
      <tr class="tldr__tr">
        <td class="tldr__td tldr__td__first">Employed at Reload!</td>
        <td class="tldr__td tldr__td__second">Drupal Developer</td>    
      </tr>
      <tr class="tldr__tr">
        <td class="tldr__td tldr__td__first">Works daily with</td>
        <td class="tldr__td tldr__td__second">HTML, SASS, JavaScript<br />PHP, Drupal, Symfony</td>    
      </tr>
      <tr class="tldr__tr">
        <td class="tldr__td tldr__td__first">Jobs</td>
        <td class="tldr__td tldr__td__second">
          <ul class="tldr__educations">
            <li class="tldr__education">
              <span class="tldr__education__year">2014: </span>
              <p class="tldr__education__title">Freelance Drupal developer<br/>Peytz &amp; Co.</p>
            </li>
            <li class="tldr__education">
              <span class="tldr__education__year">2015: </span>
              <p class="tldr__education__title">Fulltime Frontend developer<br/>Peytz &amp; Co.</p>
            </li>
            <li class="tldr__education">
              <span class="tldr__education__year">2016: </span>
              <p class="tldr__education__title">Fulltime Developer<br/>Globase International</p>
            </li>
            <li class="tldr__education">
              <span class="tldr__education__year">2016: </span>
              <p class="tldr__education__title">Drupal Developer<br/>Drupal</p>
            </li>
          </ul>
        </td>    
      </tr>
      <tr class="tldr__tr">
        <td class="tldr__td tldr__td__first">Educations</td>
        <td class="tldr__td tldr__td__second">
          <ul class="tldr__educations">
            <li class="tldr__education">
              <span class="tldr__education__year">2008: </span>
              <p class="tldr__education__title">Started HHX, ZBC Vordingborg</p>
            </li>
            <li class="tldr__education">
              <span class="tldr__education__year">2011: </span>
              <p class="tldr__education__title">Started Multimediedesign, <br/>EASJ/ZIBAT, Nykøbing F.</p>
            </li>
            <li class="tldr__education">
              <span class="tldr__education__year">2011: </span>
              <p class="tldr__education__title">Started Web Development, <br/>EASJ/ZIBAT, Roskilde </p>
            </li>
            <li class="tldr__education">
              <span class="tldr__education__year">2014: </span>
              <p class="tldr__education__title">Started as intern at <br/>Peytz &amp; Co. - later freelance</p>
            </li>
            <li class="tldr__education">
              <span class="tldr__education__year">2015: </span>
              <p class="tldr__education__title">Educated as Webdeveloper</p>
            </li>
          </ul>
        </td>    
      </tr>
      <tr class="tldr__tr">
        <td class="tldr__td tldr__td__first">Sparetime interets</td>
        <td class="tldr__td tldr__td__second">Urban exploring, Bouldering (climbing)<br />Graphical design, Gaming</td>    
      </tr>
      <tr class="tldr__tr">
        <td class="tldr__td tldr__td__first">Contact Details</td>
        <td class="tldr__td tldr__td__second"><a class="js-contact-modal-show text__link--visible" href="#">Press here</a></td>    
      </tr>
    </table>
    <a class="js-tldr-show text__link--visible">Press here to return to the normal site</a>
  </div>
  <div class="js-contact-modal-body modal modal--contact is-en">
    <div class="modal__body">
      <a class="js-contact-modal-hide modal__close"></a>
      <div class="js-contact-modal-placeholder"></div>
    </div>
    <div class="js-contact-modal-hide modal__close__background"></div>
  </div>
</div>