<div class="js-page js-snap page skills">
  <div class="js-page-header page__header text__light">
    <div class="page__header__body">
      <h1 class="page__header__text-header">Skills and every-day</h1>
      <p class="page__header__text-body">
        I am used to work daily with both Windows and Mac as my host machine. Mac at work, Windows at home. What they have in common is that I’m running a virtual Ubuntu machine through Vagrant to do actual development work with. At Peytz I’m employed as a frontender and it is also there I’m feeling the most confident. HTML, CSS (Sass + Compass), Javascript, Drupal frontend and PatternLab (client prototypes) are parts of my every day. I use Photoshop &amp; Illustrator a lot in my spare time, but not as often at work.
        <br/><br/>
        I dream about becoming better at backend development, and I’m already well on my way with Drupal. I’ve got a pretty good grasp with the concept, but I miss some more practical experience. I feel pretty confident with PHP and would like to learn more about NodeJS &amp; AngularJS – and of course Drupal8 :) 
      </p>
    </div>
  </div>
  <div class="js-page-body page__body">
    <ul class="skills__towers">
      <li class="skills__tower">
        <div class="skills__tower__image">
          <img src="<%= global_path %>/images/towers_raadhus.png" alt="R&aring;dhust&aring;rnet" width="69" height="350" />
        </div>
        <div class="skills__tower__title">
          HTML &amp; Compass
        </div>
      </li>
      <li class="skills__tower">
        <div class="skills__tower__image">
          <img src="<%= global_path %>/images/towers_frelsers.png" alt="Frelserkirkens t&aring;rn" width="69" height="350" />
        </div>
        <div class="skills__tower__title">
          JavaScript
        </div>
      </li>
      <li class="skills__tower">
        <div class="skills__tower__image">
          <img src="<%= global_path %>/images/towers_boersen.png" alt="B&oslash;rsens t&aring;rn" width="69" height="350" />
        </div>
        <div class="skills__tower__title">
          Vanilla PHP
        </div>
      </li>
      <li class="skills__tower">
        <div class="skills__tower__image">
          <img src="<%= global_path %>/images/towers_runde.png" alt="Rundet&aring;rn" width="69" height="350" />
        </div>
        <div class="skills__tower__title">
          Drupal
        </div>
      </li>
    </ul>
  </div>
  <a class="js-scroll js-scroll-down page__button__scroll page__button__scroll--small"></a>  
</div>