<div class="js-page js-snap js-extra js-extra-overlay page history extra extra--overlay">
  <div class="js-page-header page__header text__light">
    <div class="page__header__body">
      <h1 class="page__header__text-header">Historik</h1>
      <p class="page__header__text-body">
        Jeg er f&oslash;dt og opvokset i Vordingborg. Min vuggestue, b&oslash;rnehave, folkeskole og handelsskole l&aring; alle p&aring; den samme vej.<br />
        Da jeg var f&aelig;rdig med Handelsskolen (HSSYD - Senere kaldet ZBC) havde jeg en forestilling om at jeg gerne ville blive grafisk designer - jeg havde en k&aelig;mpe interesse inden for det og synes selv jeg havde ret godt fat i alle de forskellige v&aelig;rkt&oslash;jer.<br />
        <br />
        Jeg startede derfor multimediedesigner uddannelsen i Nyk&oslash;bing F., ved Erhvervsakademi Sj&aelig;lland. Uddannelsen foregik p&aring; engelsk, s&aring; jeg gik ogs&aring; i klasse med mange unge fra andre lande.<span class="extra__continue-call">..</span>
      </p>
      <div>
        <div class="js-extra-wrapper page__header__extra">
          <p class="js-extra-body page__header__extra-body history__header__extra-body">
            P&aring; uddannelsen l&aelig;rte vi om det basale inden for grafisk design, men vi fik ogs&aring; en introduktion til programmering (Mest HTML/CSS, men ogs&aring; PHP).
            Jeg havde allerede rodet med alle de ting vi blev introduceret til, og jeg f&oslash;lte ikke rigtigt at jeg l&aelig;rte noget nyt p&aring; den front - jeg l&aelig;rte dog at det faktisk ville v&aelig;re en mere passende retning at tage i mit liv.<br />
            <br />
            Da jeg var f&aelig;rdig med multimediedesigner, tog jeg webudvikleruddannelsen i Roskilde (ogs&aring; p&aring; engelsk). Uddannelsen er en top-up professionsbachelor til multimediedesigner uddannelsen.<br />
            Her fik vi lidt mere k&oslash;d p&aring; benet omkring programmering og jeg blev introduceret til bl.a. rigtigt OOP udvikling.<br />
            <br />
            Det var igennem denne uddannelse at jeg fik praktikplads hos Peytz &amp; Co., og da jeg skulle skrive min endelige opgave arbejdede jeg et par dage om ugen hos Peytz som freelancer. Da jeg var f&aelig;rdig med uddannelsen blev jeg fuldtidsansat hos Peytz &amp; Co., og i Januar 2016 skiftede jeg job til Globase International.
          </p>
        </div>
        <span class="js-extra-controller box history__box box--light text__light extra__button">
          <span class="extra__button__title">L&aelig;s mere om min historik</span>
          <span class="extra__button__title extra__button__title--open">L&aelig;s mindre om min historik</span>
        </span>
      </div>
    </div>
  </div>
  <div class="js-page-body page__body">
    <div class="js-timeline timeline">
      <div class="timeline__rocket-container">
        <div class="js-timeline-rocket timeline__rocket"></div>
      </div>
      <ul class="js-timeline-items timeline__items">
        <li class="js-timeline-item timeline__item js-timeline-item timeline__item--start has-content">
          <h3 class="timeline__title">1992</h3>
          <p class="timeline__description">
            F&oslash;dt og opvokset<br/> i Vordingborg
          </p>
        </li>
        <li class="js-timeline-item timeline__item js-timeline-item timeline__item--small js-timeline-item timeline__item--fastforward">
          <h3 class="timeline__title">'92 - '11</h3>
        </li>
        <li class="js-timeline-item timeline__item has-content">
          <h3 class="timeline__title">2011</h3>
          <p class="timeline__description">
            Handelsskolestudent<br/>
            Zealand Business College,
            Vordingborg
          </p>
        </li>
        <li class="js-timeline-item timeline__item js-timeline-item timeline__item--small xyz4">
          <h3 class="timeline__title">2012</h3>
        </li>
        <li class="js-timeline-item timeline__item has-content">
          <h3 class="timeline__title">2013</h3>
          <p class="timeline__description">
            AP Degree in Multimediadesign &amp; Communication eksamen<br/>
            EASJ/ZIBAT, Nyk&oslash;bing F
          </p>
        </li>
        <li class="js-timeline-item timeline__item js-timeline-item timeline__item--extended has-content">
          <h3 class="timeline__title">2014</h3>
          <p class="timeline__description">
            Praktik hos Peytz &amp; Co.
          </p>
          <p class="timeline__description timeline__description--secondary">
            Freelance udvikler <br/>hos Peytz &amp; Co
          </p>
        </li>
        <li class="js-timeline-item timeline__item js-timeline-item has-content">
          <h3 class="timeline__title">2015</h3>
          <p class="timeline__description">
            Profession Bachelor in <br/>Web Development <br/>
            EASJ/ZIBAT, Roskilde
          </p>
          <p class="timeline__description timeline__description--secondary">
            Fuldtidsudvikler <br/>hos Peytz &amp; Co
          </p>
        </li>
        <li class="js-timeline-item timeline__item js-timeline-item timeline__item--end timeline__item--extended has-content">
          <h3 class="timeline__title">2016</h3>
          <p class="timeline__description">
            Fuldtidsudvikler <br/>Globase International
          </p>
        </li>
      </ul>
    </div>
  </div>
  <a class="js-scroll js-scroll-down page__button__scroll page__button__scroll--small"></a>
</div>